body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.category-title-content {
  display: inline-block;
  margin-left: 1rem;
}

.post-title-content {
  display: inline-block;
  margin-left: 1rem;
}

.comment-title-content {
  display: inline-block;
  margin-left: 1rem;
}

.header-title {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.headerLink {
  font-size: 20px;
  padding: 10px 10px;
  text-decoration: none;
}

.header-category {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.category-title-content {
  background-color: #EBFBE4;
  color: black;
}

.post-title-content {
  background-color: #E4FBFB;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}
